In [94]:
## Q1
import pandas as pd
import numpy as np

print(pd.__version__)

2.3.1

In [95]:
## Q2
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

recordNum = df.shape[0]
print(recordNum)

9704

In [96]:
## Q3
fuelTypes = len(df.fuel_type.drop_duplicates())
print(fuelTypes)

2

In [97]:
## Q4
nullCol = df.isnull().sum() > 0
numNullCol = nullCol.sum()
print(numNullCol)

4

In [23]:
df.head(10)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,NaN,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412
7,150,4.0,239.0,3638.657780,17.3,2020,USA,Diesel,All-wheel drive,1.0,12.848884
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
9,150,4.0,123.0,3509.036569,10.2,2005,USA,Gasoline,Front-wheel drive,-1.0,12.298355

In [98]:
## Q5
filterData = df.loc[df.origin == 'Asia', 'fuel_efficiency_mpg']
print(filterData.max())

23.759122836520497

In [99]:
## Q6
import numpy as np
### get median
medBef = df['horsepower'].median()
print(f'Meadian before: {medBef}')

### most frequent value
mfv = df['horsepower'].value_counts().reset_index()

### most frequent value
mostFreVal = mfv['count'].max()

### fill the missing values
df['horsepower'].fillna(value = mostFreVal, inplace = True)

### get median
medAft = df['horsepower'].median()
print(f'Meadian after: {medAft}')

Meadian before: 149.0
Meadian after: 146.0

/tmp/ipykernel_2326/727983515.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(value = mostFreVal, inplace = True)

In [45]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [100]:
## Q7

AsiaCar = df.loc[df.origin == 'Asia', ['vehicle_weight', 'model_year']]

### select 7 rows
AsiaCar7 = AsiaCar.iloc[:7, :]
AsiaCar7
X = AsiaCar7.to_numpy()
XT = X.T

XTX = np.dot(XT, X)


XTXInv = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

w = (XTXInv @ XT) @ y
w.sum()

np.float64(0.5187709081074016)